vti_encoding:SR|utf8-nl
vti_author:SR|UBAID\\ubzzy
vti_modifiedby:SR|UBAID\\ubzzy
vti_timelastmodified:TR|16 Apr 2021 21:38:41 -0000
vti_timecreated:TR|16 Apr 2021 21:01:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|termProject/details1.html termProject/details2.html termProject/details3.html
vti_nexttolasttimemodified:TW|16 Apr 2021 21:38:26 -0000
vti_cacheddtm:TX|16 Apr 2021 21:38:41 -0000
vti_filesize:IR|615
