<!--Bottom Navigation -->
  <footer>
  <nav class="navbar fixed-bottom navbar-secondary bg ">
      <h6 class=" navbar-text" style="margin-right: 10px; margin-left: auto; margin-bottom: 0;">&copy; Copyright 2021. All Rights Reserved. Ubaid Delawala</h6>
  </nav>
  </footer>