<!-- Script Section -->
  <script src="https://kit.fontawesome.com/d8b0e2d7df.js" crossorigin="anonymous"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/Scripts/app.js"></script>

</body>
</html> 