<%- include partials/header.ejs%>
 
 <%- include partials/main_nav.ejs%>

    <!-- Main Content-->
  <main class="container">
    <h1>Hello, my name is Ubaid Delawala.</h1>
    
    

  </main>


  <%- include partials/bottom_nav.ejs%>
  
  <%- include partials/footer.ejs%>