<%- include partials/header.ejs%>
 <header>
 <%- include partials/main_nav.ejs%>
</header>
  
    <!-- Main Content-->
    <main class="container home">
      <p class="welcome">Welcome to my Portfolio site!</P>
      <P >I'm Ubaid Delawala</p>
        <p></p>
        <button type="button" action="/about">About Me</button>
    </main>

    
    

  <%- include partials/bottom_nav.ejs%>
  
  <%- include partials/footer.ejs%>