<%- include partials/header.ejs%>
<body class="home">
 <%- include partials/main_nav.ejs%>
  
    <!-- Main Content-->
    <main class="container title">
      <div class="d-flex justify-content-center">Welcome to my Portfolio site!</div>

        <a href="/about"><button type="button" class="container aboutBtn">About Me</button></a> <!-- Button to direct user to about me page-->
    </main>

    
    

  <%- include partials/bottom_nav.ejs%>
  
  <%- include partials/footer.ejs%>