<!-- Ubaid Delawala - 301150030-->
<%- include partials/header.ejs%>
<body>
 <%- include partials/main_nav.ejs%>
  
   <!-- Main Content-->
  <main class="container">
    <h1>Services</h1>
    
    
<div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top"  src="/Assets/images/mean.jpg" style="height:355px">
  
                    <div class="card-body">
                        <h5 class="card-title text-center">Web Development</h5>
                        <p class="card-text">
                            I can develop a web application with NodeJs, javaScript, JQuery, HTML, CSS. 
                            Full Stack Web Developer. &nbsp;&nbsp;&nbsp;&nbsp;
                            <sub>Image from - Goodwork Labs</sub>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <img class="card-img-top" src="/Assets/images/mobile.jpg">
  
                    <div class="card-body ">
                        <h5 class="card-title text-center">Mobile Application Development</h5>
                        <p class="card-text">
                          I can build mobile applications using C#.<br>
                          <sub>Image from - 247 Labs App Development Toronto</sub>
                        </p>  
                    </div>
                </div>
            </div>
        </div>
    </div> 
    

  </main>

  <%- include partials/bottom_nav.ejs%>
  
  <%- include partials/footer.ejs%>