/* Custom CSS here */
@media (max-width: 950px) {
    .home {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
        
    }
  }
@media (min-width: 950px) {
        .home
         {
            background-image: url(/Assets/images/bg.jpg);
        }
    }
 *{
     box-sizing: border-box;
 }   
html{
    
    min-height: 100%;
} 
body{
    margin: 0;
    background-color:#CACDD5;
    color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}
h1{
    text-align: center;
}
em{
    font-family: 'Gill Sans', 'Gill Sans MT', calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.3em;
    margin: 0;
}


.title{
    font-family: 'Caveat', cursive;   
    font-size: 5em;  
}

.aboutBtn{
    background-color:transparent;
    border: 5px solid transparent;
    color:black;
    padding: 20px;
    border-radius: 20px;
    
}
.aboutBtn:hover{
    background-color:black;
    border: 5px solid  black;
    color:#CACDD5;
    padding: 20px;
    float: right;
    border-radius: 20px;
    transition-duration: 0.6s;
}
.aboutBtn.container{
    margin-top:100px
}
.address{
    margin: 30px;
    margin-bottom: 0;
    position: relative;
    bottom: 10px;
}
.submit{
    width: 100%;
    font-size: large;
    margin-top: 15px;
}
label{
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
}
.content, li{
    font-size: 19px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
figure{
    float: right;
}
.resume {
    border: black 2px solid;
    border-radius:3px;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 2px 6px 2px 6px;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    float: right;
  }
  .resume:hover{
      color:#CACDD5;
      background-color:black;
      transition-duration: 0.6s;

  }
  
  .carousel .carousel-item {
    height: 73vh;

  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      max-height: 73vh;
  }